.movieCardList{
    margin: 70px 70px 30px;
}

@media screen  and (max-width: 768px) {
    .movieCardList{
        margin: 70px 30px 30px;
    }
}

@media screen  and (max-width: 540px) {
    .movieCardList{
        margin: 40px 10px 30px;
    }
}

.movieCardList__cards {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 32px 20px;
    justify-content: center;
}

@media screen  and (max-width: 768px) {
    .movieCardList__cards {
        gap: 37px 30px;
    }
}

@media screen  and (max-width: 540px) {
    .movieCardList__cards {
        gap: 20px 0;
    }
}