.movies__add {
    display: flex;
    justify-content: center;
}

.movies__add-button {
    background-color: white;
    width: 320px;
    height: 36px;
    margin: 50px auto 80px;
    border: 1px solid #E8E8E8;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
}

.movies__add-button:hover {
    color: black;
    background: #F8F8F8;
    opacity: 0.8;
}


@media screen and (max-width: 540px) {
    .movies__add-button {
        width: 240px;
    }
}

.movies__message {
    text-align: center;
    color: #EE3465;
}

.movies__container {
    min-height: calc(100vh - 352px);
}