.searchForm {
    margin: 70px 70px 0;
}

@media screen and (max-width: 768px) {
    .searchForm {
        margin: 80px 30px 0;
    }
}

@media screen and (max-width: 540px) {
    .searchForm {
        margin: 90px 14px 0;
    }
}

.searchForm__Form {
    position: relative;
}

.searchForm__input{
    width: 100%;
    height: 34px;
    background: url("../../images/Search.svg") 0 0 no-repeat;
    background-size: 34px;
    outline: none;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    color: #A0A0A0;
    padding: 0 0 20px;
    border: none;
}

@media screen and (max-width: 768px) {
    .searchForm__input{
        padding: 0 0 16px;
    }
}

@media screen and (max-width: 540px) {
    .searchForm__input {
        font-size: 18px;
        padding-bottom: 15px;
        text-align: left;
        background-image: none;
    }
}

.searchForm__input:focus {
    background: #F9F9F9;
}

.searchForm__button {
    width: 80px;
    height: 34px;
    background-image: url('../../images/Search-button.svg');
    background-color: white;
    border: none;
    cursor: pointer;
    padding: 0;
    position:absolute;
    right: 0;
    bottom: 30px;
}

@media screen and (max-width: 768px) {
    .searchForm__button {
            bottom: 35px;
    }
}

.searchForm__button:hover {
    opacity: 0.8;
}

.searchForm__input-error {
    padding-top: 10px;
    padding-left: 20px;
    margin: 0 auto;
    color: #EE3465;
    font-size: 10px;
}

.searchForm__border {
    background-color: #E8E8E8;
    color: #E8E8E8;
    border: none;
    height: 1px;
    margin: 0;
}