.register {
    padding-top: 70px;
    margin: 0 auto;
    width: 396px;
}

@media screen and (max-width: 768px) {
    .register {
        padding-top: 232px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width: 540px) {
    .register {
        padding-top: 56px;
        align-items: center;
        width: 260px;
    }
}

.register__title {
    margin: 40px 0;
    font-size: 24px;
    line-height: 29px;
    font-weight: 500;
}

@media screen and (max-width: 540px) {
    .register__title {
        margin: 50px 0 80px;
    }
}

